#entry {
  border-radius: 20px;
  margin: 5px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 10px;
}

#entry:focus {
  background: rgba(0, 0, 255, 0.7);
  border: 1px solid rgba(0, 0, 255, 1);
}

#text:selected {
  color: #d8dee9;
}

#window {
  background-color: rgba(0.4, 0.4, 0.4, 0.7);
  border: 1px solid rgba(0, 0, 255, 0.5);
  border-radius: 20px;
  font-family: 'JetBrains Mono';
  font-size: 14px;
}

#input {
  border: 1px solid rgba(100, 100, 100, 1);
  background-color: #4c566a;
  color: #d8dee9;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

#input:focus {
  color: #999999;
  border: 1px solid rgba(0, 0, 255, 1);

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  background-color: rgba(0.5, 0.5, 0.5, 0.7);
}

#inner-box {
  color: #d8dee9;
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
}

#scroll {
  background-color: transparent;
  border: none;
}

#text {
  padding: 3px;
  background-color: transparent;
}

#img {
  background-color: transparent;
  padding: 5px;
}
