/* This hides the tabs toolbar because I use Sidebery as a vertical tabs bar extension instead of the default top tabs bar */
#TabsToolbar {
  visibility: collapse;
}

/* This hides the titlebar and navigation bar as I use Vimium for Vi-like keybinds, which also ads a popup url bar when the o key is pressed */
/* NOTE: on new tabs, this is a bit buggy as the navigation bar is hidden, not disabled, so it still tries to type there to go to a new url, thus use shift+o to open the Vimium url bar to open or search in a new tab */
#titlebar,
#nav-bar {
  visibility: collapse;
}